doctype html
html
  block first
  head
    title=myTitleForGoogleSearch
    link(rel="stylesheet", href="style.css")
    meta(name="description", content=myDescriptionForGoogleSearch)
  body
    block second