-
    var Myname= 'Laura Badea Elena'
    var myJobtitle = 'SportDirect'
    var socialList = [
      {icon:'qrcode' , url:'#'},
      {icon:'qrcode' , url:'#'},
      {icon:'qrcode' , url:'#'},
    ]

#landing-page
.landing-page
  .landing-page__wrapper
    h1.landing-page__name=Myname
    h2.landing-page__jobtitle=myJobtitle
    ul.landing-page__social
      each social in socialList
        li.landing-page__item
          label.landing-page__label(for="")
            span(class=`second-my__icon--${social.icon}`)