extends _component/layout/page
block first
  -
    var myTitleForGoogleSearch = 'My really ultra awesome CV'
    var myDescriptionForGoogleSearch = 'This is made using PURE HTML5 AND CSS3 TECH'
block second
    include _component/landing-page/landing-page